@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&family=Iceland&family=New+Rocker&display=swap');

@font-face {
    font-family: Andorid;
    src: url("/modulo_2/desafio10(site)/fonts/Andorid.ttf");
}

*{
  padding: 0;  
  margin: 0;
  box-sizing: border-box;
  
}
:root{
    --cor0: #2DB656;
    --cor1: #12E050;
    --cor2: #3A8B52;
    --cor3: #386144;
    --cor4: #29362D; 
    --cor5: #3D413D;

    --fonte-padrao: arial,verdana, helvetica, sans-serif; 
    --fonte-destaque:goldman,cursive;
    --fonte-android: Android, sans-serif;
}
h1{
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(2, 0, 10, 0.801);
    width: fit-content;
    margin: auto;
    padding: 10px;
    font-family: 'new rocker',cursive;
    color: rgb(167, 165, 165);
    text-shadow: 3px 2px 1px rgb(0, 0, 0);
    font-size: 3em;
    
}

header{
    margin: auto;
    background: linear-gradient( to right,#01012e,#040186 40%,#030246);
    text-align: center;
    min-height: 120px;
    max-height: fit-content;
    margin: auto;
    padding: 0px;
}
header > p{
    margin: auto;
    max-width: 600px;
    padding: 10px;
    text-decoration: underline;
    font-weight: bold;
    font-family: 'iceland', cursive;
}

nav{
    padding: 10px;
    height: fit-content;
    margin: auto;
    font-family: 'new rocker',cursive;
}
nav > a {
    padding: 10px;
    color: rgba(255, 255, 255, 0.781);
    font-size: 16px;
    transition-duration: 0.3s;
}
a:hover{
    color: rgb(0, 255, 115);
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
    background-color: var(--cor5);
    border-radius: 3px;
}
body{
    background-image:linear-gradient(to top,rgba(43, 36, 36, 0.932), rgba(0, 128, 0, 0.562)) ;
}
main{
    padding: 10px;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
  background-color: white;
}
main a{
    text-decoration: none;
}
main a:hover{
    text-decoration:underline;

}
p > a {
    background-color: rgba(43, 51, 43, 0.884);
    color: rgb(0, 255, 115);
}
img{
    display: block;
    margin: auto;
    padding: 5px;
}

article > p {
    padding: 5px;
    margin: 25px auto 25px auto;
    font-family: 'iceland', cursive;
    text-align: justify;
    font-size: 20px;
    background-color: rgba(14, 83, 41, 0.425);
    line-height: 1.5em;
    border-radius: 5px;
    
}
h2{
    font-family: 'new rocker', cursive;
    text-shadow: 4px 3px 1px rgba(0, 0, 0, 0.199);
    text-decoration: underline;
  background-image: linear-gradient(to right,rgb(0, 128, 0), transparent);
}
h2#main{
    text-align: center;
    font-size: 2em;
     background-image: linear-gradient(to right,rgba(2, 139, 20, 0.925) 50%,transparent);
}
aside{
    background-color: rgba(1, 80, 36, 0.89);
    margin: 10px;
    padding: 0px;
    font-family: 'goldman', cursive;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.568);
    border-radius: 10px;
    text-align: justify;
}
aside>h3{
    background-color: rgb(2, 97, 97);
    border-radius: 4px;
    padding: 5px;
    font-size: 1.5em;
    color: white;
}
aside>p,ul{
    padding: 5px 10px 5px 10px;
}
footer{
    text-align: center;
    margin-top: 10px;
    background-color: rgb(0, 0, 0);
    color: white;
}